#DATABASE_URL="postgresql://dev1:Dev1_Root!2025@ep-cool-bonus-a27b4byr-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require"
#DATABASE_URL=postgresql://postgres:mayarbriki666@localhost:5432/testDB
#--------------------------------------


 ALLOWED_ORIGINS=https://frontend-r3hnte2gb-ecopilots-projects.vercel.app
# ---------------------------------------------


# You were missing this line:
EMAIL_HOST=smtp.gmail.com

# Optional but recommended for Gmail:
EMAIL_PORT=587
EMAIL_SECURE=false

# Your credentials:
EMAIL_USER=ecopiloteco@gmail.com
EMAIL_PASS=lkcyyaconespgoha
# EMAIL_FROM="Eco-Pilote <ecopiloteco@gmail.com>"

EMAIL_FROM=ECO-PILOT <ecopiloteco@gmail.com>

SUPABASE_URL=https://byzkjedldocewnkqidmt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5emtqZWRsZG9jZXdua3FpZG10Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2MTY1NTgsImV4cCI6MjA3NDE5MjU1OH0.5OK6hVgH8he_t3H7qei1SVXGzxE_gEbgS9VSl0Uiirw
 
 PORT=5000
 DB_USER=dev2
 DB_HOST=172.26.65.158
 DB_NAME=staging_area
 DB_PASSWORD=root2
 DB_PORT=5432
 JWT_SECRET=mysecretkey123456
 REFRESH_SECRET=ma_cle_refresh_secrete
 AUTH_MODE=payload

# PORT=5000
# DB_USER=postgres
# DB_HOST=localhost
# DB_NAME=postgres
# DB_PASSWORD=201001
# DB_PORT=5432


# Switch to local backend (localhost:5000)
# npm run env:local

# Switch to production backend (deployed)
# npm run env:production

# Check current environment
# npm run env:status
